.sidebar{
	display: block;
	height: calc(100vh - 20px);	

	-webkit-app-region: drag;	
}

.layout{
	display: flex;
	flex-direction: row;
	
	height: calc(100vh - 20px);
	width: 100%;

	background: rgba(255, 255, 255, 0);	
}

.open{
	width: 20%
}

.close{
	width: 0;
}	


.right{
	
	background-color: red;
}

.left{
	
	background-color: blue;
}

.content{

	flex: 1; 
	display: block;
	height: calc(100vh - 20px);
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 6px;
	background: rgb(242, 242, 242);
}