.header {
	display: flex;
	gap: 4px;
	
	padding: 5px;
	margin: 0;
	list-style: none;
	box-shadow: var(--background-gray) 0 -1px 0 0 inset;
	background-color: red;
	border-radius: 7px;
	width: fit-content;
}
  

.column:hover, .button:hover{
	background-color: white;
	transition: 0.05s;
}

  .column {
	width: fit-content;
	background-color: blue;	
	border-radius: 4px;
	padding: 0;
  }
  
  .button {
	display: block;
	width: 100%;
	height: 100%;	
	
	border-radius: 4px;
	font-weight: bold;
	color: var(--font-gray);
	cursor: pointer;
	background-color: transparent;
	border: none;	
	background-color: yellow;
	
  }
  
  .active {
	color: var(--background-blue);
	background-color: var(--background-white);
	border-bottom: 3px solid var(--background-blue);
  }
  
  .tabBody {
	padding: 0;
  }
  
  /* storybook用css */
  .hasIcon {
	display: flex;
	gap: 0.2rem;
	align-items: center;
  }