.header {
	display: flex;
	gap: 0px;
	
	/* width: max-content; */
	padding: 0;
	margin: 0;
	list-style: none;	
	border-radius: 0px;	
	background-color: var(--tab-bar-inactive-background-color);
	
	-ms-overflow-style: none;
	scrollbar-width: none;
	height: 37.5px;

	overflow-x: scroll;
	white-space: nowrap;
	overflow-y: hidden;
}
  

.column:hover, .button:hover{
	background-color: white;
	transition: 0.1s;
}

  .column {			
	border-right: 1px solid var(--tab-bar-split-border-color);
	/* overflow-x: hidden; */
	max-width: 200px;
	text-overflow: ellipsis;

	font-family: 'Inter Variable', sans-serif;	
  }
  
  .button {

	font-family: 'Inter Variable', sans-serif;
	font-weight: 500 !important;	

	text-overflow: ellipsis;
	max-width: 200px;
	overflow-x: hidden;
	
	font-size: 13px;
	display: block;
	width: 100%;
	height: 100%;	
	padding: 10px 12px;
	font-weight: bold;
	color: var(--tab-bar-inactive-label-color);
	cursor: pointer;
	background-color: var(--tab-bar-inactive-background-color);

	border: none;
	border-bottom: 2px solid transparent;	
	-webkit-app-region: no-drag;	
  }
  
  .active {
	color: var(--tab-bar-active-label-color);
	background-color: var(--tab-bar-active-background-color);
	border-bottom: 2px solid var(--tab-bar-active-underline-color);	
  }
  
  .tabBody {
	padding: 0;
  }
  
